*{margin: 0;padding: 0}
*{box-sizing: border-box}
ul,li{list-style: none}
a{text-decoration: none}
body{font-size: 15px; line-height: 1.5}

/***border***/
.page{display: flex;height: 100vh;}

.page .siderbar{width: 200px;display: flex;flex-direction: column}
.page .siderbar .newSong{padding: 10px;border-bottom: 1px solid black;text-align: center}
.page .siderbar .newsong.active{background: #d4d4d4}
.page .siderbar .songLists{flex-grow: 1}
.page .siderbar .songList li{padding: 8px;border-bottom: 1px solid #ddd;}
.page .siderbar .songList li.active{background: #d4d4d4}
.page .siderbar .upload{}
.page .siderbar .upload #yyy{border: 2px dashed #ddd;width: 200px;border-radius:5px; padding: 8px 20px;display: flex;justify-content: center;align-items: center;flex-direction: column;}

.page .main{flex: 1;background: #d4d4d4;}
.page .main .form{padding: 20px;}
.page .main h1{padding: 10px;font-size: 20px;font-weight: 600}
.page .main .form .row{padding: 10px;display: flex;}
.page .main .form label{width: 40px;}
.page .main .form input{font-size: inherit;border-radius: 5px;border: 1px solid #ddd}
.page .main .form button{padding-left:  10px;padding-right: 10px;margin-left: 40px;height: 30px;}






